body {
    font-family: Arial, sans-serif;
    padding: 20px
}

h1 { 
    color: pink;
    text-align: center;
}

h2 {
    color: darkgreen;
}

p {
    color: #333;
    line-height: 1.5;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: square;
}

img {
    display: block;
    margin-top: 20px;
    max-width: 100%;
    height: auto;
}
